/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: auto 100vh;
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    font-size: 10px;
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}
/* breakppoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
    .portfolio h2 {
            font-family: 'Comfortaa', cursive;
            font-size: 2em;
    }
}

header {
    background-image: url(../img/fundo_header.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 2s, color 2s;
}

.menu a:active,
.menu a:hover {
    background-color: #363636;
    color: #DCDCDC;
}

a {
    color: #1C1C1C;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
}

.titulo {
    /* transform: scale(0.2) translateY(50vh); */
    opacity: 0;

    animation: linear 1s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
}

.site-subtitle,
.site-title {
    color: #363636;
    text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Sacramento', cursive;
}
.site-subtitle {
    font-style: italic;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.8em;
}

.sobre,
.contato,
.portfolio {
    padding: 1em;
    min-height: 100vh;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sobre h2 {
    color: #8B4513;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1.5em;
    margin-top: 1em;
    font-size: 2em;
    
}

.sobre {
    background-color: whitesmoke;
}

.sobre p {
    color: 	#000;
    margin-bottom: 1.5em;
    text-align: justify;
    text-indent: 2em;
}

.sobre a {
    color: 	#800000;
    text-decoration: underline;
}

.sobre .avatar {
    margin-left: 2em;
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);  */
}

@media (min-width: 600px) {
    .sobre .avatar {
        float: right;
       
    }
}

.sobre .avatar img {
    height: 400px;
    width: 500px;
    border-radius: 40%;
}

.portfolio {
    background-image: url("../img/fundo_portfolio.png");
}

.contato h2,
.portfolio h2 {
    color: 	#8B0000;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1.5em;
    margin-top: 1em;
    font-size: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 4em - 40px - 1.5em);
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {

    height: 180px;
    width: 100%;
    object-fit:cover;
    object-position: left bottom;
    transition: 500ms;
}


/* .img-portfolio:hover {
    transform: scale(1.2);
} */

.flip-card {
   perspective: 500px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-back {
    background-color:#696969;
    color: white;
    height: 180px;
    width: 100%;
    transform: rotateY(180deg);
}

.contato {
    background-image: url("../img/fundo_contato.jpg");
}

.contato .icons {
    text-align: center;
}
.contato a {
    color: 	#800000;
    font-size: 5em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 15px rgba(128,0,0,1);
}