/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fundo4.jpg');
    background-size: auto 100vh;
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    font-size: 10px;
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}
/* breakppoint */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #4169E1;
    position: fixed;
    width: 100vw;
    top: 0;
    
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    
    padding: 10px 20px;
}

a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
}

.site-subtitle,
.site-title {
    color: #B8860B;
    text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Sacramento', cursive;
}
.site-subtitle {
    font-style: italic;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.8em;
}
.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio h2 {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1em;
    font-size: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 4em - 40px - 1.5em);
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 80%;
}